
body {
    background-color: black;
    color: green;  
    font-family: Arial, sans-serif;
    margin: 0;     
    padding: 0;    
    /* overflow: hidden; Prevent any unwanted scrolling */
}

/* Styling the container of the name */
.name-container {
    background-color: green; 
    padding: 50px 100px;     
    border-radius: 10px;     /* Rounded corners for the box */
    width: 100%;             
    box-sizing: border-box;  /* Include padding in width calculation */
    text-align: center;      /* Center the text horizontally within the container */
}

/* Styling the name */
h1 {
    margin: 0;           
    color: black;        
    font-weight: bold;   
    font-size: 3em;      
}

.green-text {
    color: green;
}

#footer {
    text-align: center;
    margin-top: 20px;
}

#footer img {
    max-width: 100%; /* Ensures the image doesn't overflow its container */
    width: 200px;
    height: auto;    /* Keeps the image's aspect ratio */
    display: block;  /* Changes the image from inline to block element */
    margin: 0 auto;  /* Centers the block image horizontally */
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    color: green;
}

.highlight {
    font-style: italic;
    background-color: #f4f4f4; 
    padding: 5px;
    border-radius: 3px;
}


#about-me {
    background-color: #333; 
    padding: 20px;
    margin: 50px 0 20px 0; 
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.textbox {
    background-color: #AEDFF7;  
    padding: 10px;
    border-radius: 5px;
}
